div {
  background: seagreen;
  position:absolute;
  color:#fff;
  border-radius: 25px;
  top:50%;
  left:50%;
  padding:15px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);

} 
#weekDay{
  text-align: center;
}
#time,#date{
  display: inline-block;
  width: 175px;
  
}
#city {
  text-align: center;
}
#time,#temp{
  text-align: right;
}
